{% load static %}
{% load time_worked_tags %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Report Table{% endblock title %}</title>
    <!-- CSS -->

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">{% block brand %}Reef Technologies{% endblock brand %}</a>
    </nav>

    {% block content %}
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Report <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Worked Time</h1>
          </div>
          <h3>{{ yesterday|date }}</h3>
          {% if worked_time_table %}
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <!-- Employees fullname-->
                <th scope="col"></th>
                {% for employee in employees %}
                <th scope="col">{{ employee.1 }} {{ employee.2 }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
            {% for rows in worked_time_table %}
              <tr>
              {% for row in rows %}
                {% if forloop.first %}
                  <!-- project name -->
                  <th scope="row">{{ row }}</th>
                {% else %}
                  {% if row %}
                    <!-- time worked -->
                    <td>{{ row|time:"H:i:s" }}</td>
                    {% else %}
                    <td>-</td>
                  {% endif %}
                {% endif %}
              {% endfor %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <button type="button" class="btn btn-light" onclick="window.print();return false;"><i data-feather="printer"></i></button>
          {% else %}
          <div>No Data</div>
          {% endif %}
        </main>
      </div>
    </div>
    {% endblock content %}
    <!-- Javascript -->
    <!-- Icons -->
    <script src="{% static 'js/feather.min.js' %}"></script>
    <script>
      feather.replace()
    </script>
    {% block javascript %}{% endblock javascript %}
  </body>
</html>
